body{
    background-color: indianred;
}
h1{
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    text-align: justify;
}